//colors

$color_swans_down_approx: #dbedeb;
$white: white;
$color_storm_dust_approx: #666;
$color_alabaster_approx: #fbfbfb;
$black: black;
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_trinidad_approx: #e95800;

.custom-calendar {
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    td, th {
        padding: 0;
    }

    border: 1px solid $color_swans_down_approx;
    background-color: $white;
    font-weight: 700;
    color: $color_storm_dust_approx;
    z-index: 1000;
    .custom-select-block{
        font-weight: 400;
        .value-field{
            text-align: left;
        }
    }
    .datepicker-header {
        padding: 15px 5px;
        background-color: $color_alabaster_approx;
        display: table;
        width: 100%;
        & > span {
            display: table-cell;
            vertical-align: middle;

            width: 10px;
            padding: 0 8px;
            .fa{
                pointer-events: none;
            }
            &:not(.disabled){
                cursor: pointer;
                &:hover .fa {
                    color: $black;
                }
            }
        }
        .datepicker-title {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 13px;
            & > div {
                width: 45%;
                select{
                    width: 100%;
                }
            }
            .datepicker-month {
                float: left;
            }
            .datepicker-year {
                float: right;
            }
        }
    }
    .datepicker-calendar {
        table {
            width: 100%;
        }
        .datepicker-week {
            border-color: $color_swans_down_approx;
            border-style: solid;
            border-width: 1px 0 1px 0;
            td {
                padding: 9px 0;
                text-align: center;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
        .datepicker-days {
            padding: 3px 0;
            td {
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 13px;
                color: $color_mine_shaft_approx;
                cursor: pointer;
                &.disabled {
                    cursor: default;
                    color: $color_mountain_mist_approx;
                    &.current, &.today {
                        opacity: 0.5;
                    }
                }
                &.today{
                    outline: 1px solid $color_trinidad_approx;
                }
                &.current {
                    background-color: $color_trinidad_approx;
                    color: $white;
                    &.hovering:not(.current):not(:hover) {
                        opacity: 0.5;
                    }
                }
                &.hover {
                    background-color: $color_trinidad_approx;
                    color: $white;
                    &.hovering:not(.current):not(:hover) {
                        opacity: 0.5;
                    }
                }
                &.hovering {
                    background-color: $color_trinidad_approx;
                    color: $white;
                    &.hovering:not(.current):not(:hover) {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}